<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="Con" connectionString="Data Source=XPC\SQLEXPRESS;Initial Catalog=LOGI_DATA;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=1qaz2wsx" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>
